/** {*/
    /*margin: 0 auto;*/
    /*padding: 0;*/
/*}*/

html, body,.container-left .container-right {height: 100%; }

.sidebar {
    background-color: grey;
    /*margin: 0 auto;*/
    /*padding:0;*/
    position: absolute;
    top: 0;
}
.nav1{
    /*margin: 0 auto;*/
    /*padding: 0;*/
    padding-right: 0;
    position: fixed;
    top: 30px;
}
.nav-list{
    /*margin: 0 auto;*/
    padding: 0;
    padding-right: 0;
    position: relative;
    top: 50px;
    width: 100%;
}

body {
    width: 100%;
    /*height: 100%;*/
}


.container-left {
    /*margin: 0 auto;*/
    /*padding: 0;*/
    /*height: 1000px;*/
    width: 20%;
    background-color: #F8F8F8;
    float: left;
    height: 100%;
}

.container-right {
    padding: 5% 2.5%;
    float: left;
    /*margin: 0 auto;*/
    /*padding: 0;*/
    /*height: 1000px;*/
    height: 100%;
    width: 80%;
    /*background-color: grey;*/

    /*background-color:darkseagreen;*/
    /*position: absolute;*/

}

.container-right p {
    float: left;
}

.panel {
    /*padding-right: 0;*/
    position: absolute;
    /*top: 100px;*/
    width: 75%;

}

.hide {
    display: none;
}

.form-group,.input-group,.date,.form_datetime,.col-md-5{
    margin: 0;
    width: 220px;
    /*float: left;*/
}

.form-control {
    width: 220px;
    margin: 0;
    /*float: left;*/
}

/*.clearfloat {*/
    /*clear: both;*/
/*}*/

.col-md-1 {
    padding: 0;
    width: 80px;
}
.col-md-3 {
    padding: 0;
}

.row p {
    height: 34px;
    text-align: center;
    line-height: 34px;
}