* {
    margin: 0 auto;
    padding: 0;
}

/*.navbar-inverse {*/
    /*background-color: #586B8F;*/
/*}*/

html, body,.container-left .container-right {height: 100%; }

.sidebar {
    background-color: grey;
    /*margin: 0 auto;*/
    /*padding:0;*/
    position: absolute;
    top: 0;
}
.nav1{
    /*margin: 0 auto;*/
    /*padding: 0;*/
    padding-right: 0;
    position: fixed;
    top: 30px;
}
.nav-list{
    /*margin: 0 auto;*/
    padding: 0;
    padding-right: 0;
    position: relative;
    top: 50px;
    width: 100%;
}

body {
    width: 100%;
    /*height: 100%;*/
}


.container-left {
    /*margin: 0 auto;*/
    /*padding: 0;*/
    /*height: 1000px;*/
    width: 20%;
    background-color: #F8F8F8;
    float: left;
    height: 100%;
}

.container-right {
    padding: 5% 2.5%;
    float: left;
    /*margin: 0 auto;*/
    /*padding: 0;*/
    /*height: 1000px;*/
    height: 100%;
    width: 80%;
    /*background-color: grey;*/

    /*background-color:darkseagreen;*/
    /*position: absolute;*/

}

.panel {
    /*padding-right: 0;*/
    position: absolute;
    /*top: 100px;*/
    width: 75%;

}
