@charset "UTF-8";

/** {*/
    /*margin: 0 auto;*/
    /*padding: 0;*/
/*}*/

html, body,.container-left .container-right {
    height: 100%;
}


body {
    width: 100%;
}

/*footer {*/
    /*!*font-size: 14px;*!*/
    /*!*margin: auto;*!*/
    /*text-align:center;*/
    /*width: 200px;*/
    /*color: darkgrey;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*!*position: absolute;*!*/
    /*!*bottom: 0;*!*/
/*}*/
.footer {
    width: 185px;
    /*background-color: black;*/
    color: darkgrey;
    height: 30px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: 0 auto;
    text-align: center;
}
.footer p {
    line-height: 30px;
    text-align: center;

}
/*.footer footer {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
/*}*/
.nav-logo {
    height: 50px;
    over-flow: hidden;
}

.logo {
    height: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar {
    background-color: grey;
    position: absolute;
    top: 0;
}
.nav1{
    padding-right: 0;
    position: fixed;
    top: 30px;
}
.nav-list{
    padding: 0;
    padding-right: 0;
    position: relative;
    top: 50px;
    width: 100%;
}



.container-left {
    width: 20%;
    background-color: #F8F8F8;
    float: left;
    height: 100%;
    /*position: fixed;*/
}

.container-right {
    /*padding: 5% 2.5%;*/
    padding-top: 60px;
    float: left;
    height: 100%;
    width: 80%;
    /*overflow-y: auto;*/
}

.container-right p {
    float: left;
}

.panel {
    position: relative;
}

.hide {
    display: none;
}

.input-group,.date,.form_datetime,.col-md-5{
    margin: 0;
    width: 220px;
}

.form-control {
    width: 220px;
    margin: 0;
}

.col-md-1 {
    padding: 0;
    width: 80px;
}
.col-md-3 {
    padding: 0;
}

.row p {
    height: 34px;
    /*text-align: center;*/
    line-height: 34px;
}

.center-content {
    padding: 0 2.5%;
    margin: 0 auto;
}

.sidebar-active {
    background-color: #EEEEEE;
}
.breadcrumb {
    background-color: white;
}

.search {
    /*height: 30px;*/
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
}

.btn-no-border {
    border: 0;
    height: 30px;
}

.row {
    margin: 0 auto;
    padding: 0;
}

.search-col {
    padding: 10px 0;
}
.uploadButton {
    width: 80px;
    /*height: 30px;*/
}
.breadcrumb {
    padding-bottom: 0;
    margin: 0;
}

.glyphicon-star {
    color: rgb(255, 213, 54);
}

#path {
    width: 60px;
    height:40px;
    position: absolute;
    top:-6px;
    left: -4px;
    opacity: 0;
    filter:alpha(opacity=0);
}